<div class="mt-5 w-full d-flex justify-content-center">
  <div class="logo-container">
    <form [formGroup]="recuperarForm" (ngSubmit)="onSubmit()" class="p-4" novalidate>
      <h2>Recuperar Contraseña</h2>

      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Ingresa tu nombre de usuario"
          formControlName="username"
          [class.is-invalid]="recuperarForm.get('username')?.invalid && recuperarForm.get('username')?.touched"
        />
        <div class="invalid-feedback">
          Por favor, ingresa un nombre de usuario válido.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          [class.is-invalid]="recuperarForm.get('password')?.invalid && recuperarForm.get('password')?.touched"
        />
        <div class="invalid-feedback">
          Por favor, ingresa una contraseña válida (mínimo 6 caracteres).
        </div>
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label">Confirmar Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          placeholder="Confirma tu contraseña"
          formControlName="password2"
          [class.is-invalid]="
            (recuperarForm.get('password2')?.invalid && recuperarForm.get('password2')?.touched) ||
            recuperarForm.hasError('passwordsNoCoinciden')
          "
        />
        <div class="invalid-feedback">
          Las contraseñas no coinciden.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Confirmar</button>

      <p class="mt-3">
        ¿Aún no tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </p>
    </form>
  </div>
</div>
