<div class="page-container d-flex flex-column min-vh-100">
  <main class="flex-grow-1 container mt-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button
          class="nav-link"
          [class.active]="tabActivo === 'usuarios'"
          (click)="activarTab('usuarios')"
        >
          Usuarios
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          [class.active]="tabActivo === 'metricas'"
          (click)="activarTab('metricas')"
        >
          Métricas
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          [class.active]="tabActivo === 'productos'"
          (click)="activarTab('productos')"
        >
          Productos
        </button>
      </li>
    </ul>

    <div class="tab-content mt-2" *ngIf="tabActivo === 'usuarios'">
      <h2 class="text-center">Usuarios</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Usuario</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.role }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary me-2"
                  (click)="editarUsuario(i)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="eliminarUsuario(i)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-content mt-2" *ngIf="tabActivo === 'metricas'">
      <h2 class="text-center">Métricas</h2>
      <div class="row">
        <div class="col-md-12">
          <canvas id="salesChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-2">
          <canvas id="usersChart" width="100" height="100"></canvas>
        </div>
        <div class="col-md-6 col-8">
          <canvas id="productsChart" width="100" height="100"></canvas>
        </div>
      </div>
    </div>

    <div class="tab-content mt-2" *ngIf="tabActivo === 'productos'">
      <h2 class="text-center">Gestión de Productos</h2>
      <button class="btn btn-success mt-3" (click)="agregarProducto()">
        Agregar Producto
      </button>
      <div class="table-responsive">
        <table class="table table-striped align-middle" style="table-layout: fixed; width: 100%;">
          <thead>
            <tr>
              <th style="width: 20%;">Nombre</th>
              <th style="width: 40%;">Descripción</th>
              <th style="width: 19%;">Precio</th>
              <th style="width: 5%;">Categoría</th>
              <th style="width: 20%;" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos; let i = index">
              <td class="text-truncate" title="{{ producto.name }}">{{ producto.name }}</td>
              <td class="text-truncate" title="{{ producto.description }}">{{ producto.description }}</td>
              <td>{{ producto.price | currency }}</td>
              <td>{{ producto.categoryId }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-primary me-2" (click)="editarProducto(i)">Editar</button>
                <button class="btn btn-sm btn-danger" (click)="eliminarProducto(i)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
    <div
      class="modal fade"
      id="modalProducto"
      tabindex="-1"
      aria-labelledby="modalProductoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductoLabel">
              {{
                productoSeleccionado ? "Editar Producto" : "Agregar Producto"
              }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="productoForm">
              <!-- Nombre -->
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': productoForm.get('name')?.invalid && productoForm.get('name')?.touched }"
                />
                <div *ngIf="productoForm.get('name')?.invalid && productoForm.get('name')?.touched" class="invalid-feedback">
                  El nombre es obligatorio.
                </div>
              </div>
            
              <!-- Descripción -->
              <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  [ngClass]="{ 'is-invalid': productoForm.get('description')?.invalid && productoForm.get('description')?.touched }"
                />
                <div *ngIf="productoForm.get('description')?.invalid && productoForm.get('description')?.touched" class="invalid-feedback">
                  La descripción es obligatoria.
                </div>
              </div>
            
              <!-- Precio -->
              <div class="mb-3">
                <label class="form-label">Precio</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="price"
                  [ngClass]="{ 'is-invalid': productoForm.get('price')?.invalid && productoForm.get('price')?.touched }"
                />
                <div *ngIf="productoForm.get('price')?.invalid && productoForm.get('price')?.touched" class="invalid-feedback">
                  El precio debe ser un número mayor o igual a 0.
                </div>
              </div>
            
              <!-- Categoría -->
              <div class="mb-3">
                <label class="form-label">Categoría</label>
                <select
                  class="form-select"
                  formControlName="categoryId"
                  [ngClass]="{ 'is-invalid': productoForm.get('categoryId')?.invalid && productoForm.get('categoryId')?.touched }"
                >
                  <option [ngValue]="null" disabled>Selecciona una categoría</option>
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.nombre }}
                  </option>
                </select>
                <div *ngIf="productoForm.get('categoryId')?.invalid && productoForm.get('categoryId')?.touched" class="invalid-feedback">
                  Debes seleccionar una categoría.
                </div>
              </div>
            </form>
            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarProducto()"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalEditarUsuario"
      tabindex="-1"
      aria-labelledby="modalEditarUsuarioLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalEditarUsuarioLabel">
              Editar Usuario
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="usuarioForm">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Correo</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Tipo</label>
                <select class="form-select" formControlName="tipo">
                  <option value="usuario">Usuario</option>
                  <option value="admin">Administrador</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="guardarCambios()"
            >
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
