<div class="page-container d-flex flex-column min-vh-100">
  <main class="flex-grow-1 container mt-4">
    <div class="mt-5 w-full d-flex justify-content-center">
      <div class="logo-container">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="p-4"
          novalidate
        >
          <h2>Inicio de Sesión</h2>

          <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
              [class.is-invalid]="
                f['username'].touched && f['username'].invalid
              "
              placeholder="Ingresa tu nombre de usuario"
            />
            <div
              *ngIf="f['username'].touched && f['username'].invalid"
              class="invalid-feedback"
            >
              Por favor, ingresa un nombre de usuario válido.
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              [class.is-invalid]="
                f['password'].touched && f['password'].invalid
              "
              placeholder="Ingresa tu contraseña"
            />
            <div
              *ngIf="f['password'].touched && f['password'].invalid"
              class="invalid-feedback"
            >
              Por favor, ingresar una contraseña válida.
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

          <p class="mt-3">
            ¿Olvidaste tu contraseña?
            <a routerLink="/recuperar-pw">Recuperar contraseña</a>
          </p>
          <p class="mt-3">
            ¿Aún no tienes una cuenta?
            <a routerLink="/registro" routerLinkActive="active"
              >Regístrate Aquí</a
            >
          </p>
        </form>
      </div>
    </div>
  </main>
</div>
